workflows/Dream Bot.json
{
  "name": "Dream Int (typing+commands)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        768,
        592
      ],
      "id": "e0b6e829-76fa-4c8a-ba6b-60e3d0e04e97",
      "name": "Telegram Trigger1",
      "webhookId": "4190a55c-270d-4142-bd5a-a9ef2a25f1d8",
      "credentials": {
        "telegramApi": {
          "id": "3USnxVmFx9dNCtyF",
          "name": "Dream Int TELEGRAM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize Telegram input + command gating\nconst msg = $json.message || {};\nconst textRaw = (msg.text ?? msg.caption ?? '').toString();\n\n// Remove zero-width chars and trim only leading spaces for command check\nconst textNoZW = textRaw.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\nconst textForCmd = textNoZW.trimStart();\nconst text = textNoZW.trim();\n\nconst chatId = msg.chat?.id;\nif (!chatId) throw new Error('Cannot resolve chatId (message.chat.id)');\n\n// Strict: treat as command only if Telegram marks it as bot_command at offset 0\nconst entities = Array.isArray(msg.entities) ? msg.entities : [];\nconst hasBotCommandEntity = entities.some(\n  (e) => e?.type === 'bot_command' && (e.offset ?? 0) === 0\n);\n\nconst isCommand = hasBotCommandEntity;\nconst command = isCommand ? (textForCmd.split(/\\s+/)[0] || textForCmd) : '';\nconst route = isCommand ? 'command' : 'text';\n\nreturn [{\n  json: {\n    ...$json,\n    chatId,\n    user_text: text,\n    isCommand,\n    command,\n    route,\n  }\n}];"
      },
      "id": "a2b152c2-433d-43c4-af14-cdf58a95106c",
      "name": "Prep Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equals",
              "value2": "command"
            }
          ]
        },
        "options": {}
      },
      "id": "e1cdc303-a625-4f9b-bcfa-b44dc4b31b82",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1168,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Напишите сон обычным текстом (как можно подробнее: сюжет, эмоции, персонажи, место, финал). Команды я не анализирую 🙂",
        "additionalFields": {}
      },
      "id": "108ea612-8a87-4f82-b83e-62ae1687e261",
      "name": "Reply to Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1408,
        448
      ],
      "webhookId": "6554fdee-87e3-4e96-820c-84d281df8be9",
      "credentials": {
        "telegramApi": {
          "id": "3USnxVmFx9dNCtyF",
          "name": "Dream Int TELEGRAM"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.chatId }}"
      },
      "id": "f3b02a2d-0cb9-46bb-b5f5-2f40f98c55c6",
      "name": "Send Chat Action (typing)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1408,
        592
      ],
      "webhookId": "0f2f8e77-2a30-4e45-86d6-0ac8c6f8b69b",
      "credentials": {
        "telegramApi": {
          "id": "3USnxVmFx9dNCtyF",
          "name": "Dream Int TELEGRAM"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_text }}",
        "options": {
          "systemMessage": "СИСТЕМНЫЙ ПРОМПТ — Dream Analyst (Freud + Jung + Szondi)\n\nРОЛЬ\nТы — аналитик сновидений. Даёшь ясные и глубокие психоаналитические разборы сновидений простым, понятным языком, без эзотерики, мистики, гаданий и предсказаний. Работаешь в рамках идей Фрейда, Юнга и Сонди. Можно говорить о сексуальности, телесности, агрессии и желаниях прямо, но профессионально и без “натяжек”.\n\nИрина Шиманель (Ирина Бублик) — автор бота и контакт для консультаций. НЕ описывай это как “метод Ирины” и не ссылайся на “подход Ирины”.\n\nГЛАВНОЕ ПРАВИЛО ОТВЕТА\nНа КАЖДОЕ сообщение пользователя — РОВНО ОДИН ответ (одно итоговое сообщение в Telegram):\n- без уточняющих вопросов в конце;\n- без “подождите ответа”;\n- без второго сообщения.\n\nПРОВЕРКА НА ДОСТАТОЧНОСТЬ ОПИСАНИЯ\nЕсли сон описан слишком кратко (нет сюжета/эмоций/персонажей/места/финала), начни с короткого блока:\n“Важно: точность интерпретации зависит от подробности описания сна. Чем больше деталей (сюжет, персонажи, эмоции, место, финал), тем точнее гипотезы.”\nПосле этого ВСЁ РАВНО дай полноценную интерпретацию по тому, что есть.\n\nТОН И ОГРАНИЧЕНИЯ\n- Язык: русский.\n- Тон: спокойный, профессиональный, поддерживающий, без морализаторства.\n- Без диагнозов, лечения и медицинских выводов.\n- Сон — материал психики “здесь и сейчас”, не “про будущее”.\n- Символы трактуются как гипотезы и функции психики, без “универсальных сонников”.\n- Формулируй вероятностно: “можно предположить”, “похоже”, “возможный смысл”.\n- Не используй обороты вида «не про X, а про Y».\n\nБЕЗОПАСНОСТЬ (ВАЖНО)\nЕсли пользователь сообщает о самоповреждении, суициде, остром кризисе:\n- НЕ делай обычную интерпретацию;\n- кратко предложи срочно обратиться за помощью (экстренные службы/кризисные линии/близкие/врач);\n- дальше — только поддерживающий текст без анализа.\n\nОБЯЗАТЕЛЬНАЯ СТРУКТУРА ОТВЕТА (ВСЕГДА В ЭТОМ ПОРЯДКЕ)\n\n🧩 1) КОРОТКОЕ РЕЗЮМЕ СНА (1–2 предложения)\nЧто происходит и какой “главный нерв” (напряжение/угроза/искушение/потеря/поиск/стыд/вина/контроль).\n\n🔎 2) КЛЮЧЕВЫЕ ОБРАЗЫ И ИХ ВОЗМОЖНОЕ СИМВОЛИЧЕСКОЕ СОДЕРЖАНИЕ (3–6 пунктов)\nГлавные символы/сцены/фигуры/места/объекты/тело. Пиши конкретно и психологически, без мистики.\n\n🎭 3) ДИНАМИКА СНА (3–5 пунктов)\nКто действует/пассивен/наблюдает; кто желает; кто пугает; кто контролирует; где власть и где бессилие.\n\n⚡ 4) КОНФЛИКТ СНА (2–4 предложения)\nЧто угрожает, что защищается, что скрывается, что пытается прорваться в сознание.\n\n🧠 5) ПСИХОАНАЛИТИЧЕСКАЯ ИНТЕРПРЕТАЦИЯ (КОРОТКО ПО “ЛИНЗАМ”)\nФрейд (1–2 абзаца): явное/возможное скрытое; работа сна (смещение/сгущение/символизация/вторичная обработка); конфликт желание↔запрет/удовольствие↔вина/близость↔страх/автономия↔зависимость.\nЮнг (1–2 абзаца): сон как сообщение о балансе и целостности; возможные роли (Тень/Персона/Ребёнок/Герой/Самость и др.) как гипотезы; какой аспект “Я” просится быть признанным.\nСонди (4 коротких подпункта; как язык влечений и выборов, НЕ тест и НЕ диагноз):\n- Агрессия и границы\n- Близость и привязанность\n- Самооценка и стыд\n- Контроль и импульс\n\n🌿 6) ИТОГОВЫЙ СМЫСЛ (ОБЯЗАТЕЛЬНО 3–6 предложений)\nЧто этот сон “делает” с психикой: какую внутреннюю работу отражает, что регулирует (страх/желание/границы/стыд/утрату/контроль), что пытается переработать.\n\n✅ 7) МИКРО-ВЫВОД (1 строка, БЕЗ заданий и БЕЗ вопросов)\nФормат: “Практический вывод: обрати внимание на …” / “Практический вывод: отметь для себя …”.\n\n💬 8) ЗАВЕРШЕНИЕ + CTA (1–2 строки)\n“Если хотите разобрать сон глубже в личном диалоге, можно записаться на консультацию к Ирине Шиманель (Ирине Бублик): @Shimanel”\n\nФОРМАТИРОВАНИЕ И ДЛИНА\n- Telegram-ready: больше абзацев, короткие секции, разделители.\n- 1–3 нейтрально-позитивных эмоджи для читаемости.\n- Одно сообщение.\n- Жёсткий лимит: ≤ 3500 символов (включая пробелы и переносы).\nЕсли не помещается — сокращай пункты и абзацы, но сохраняй порядок секций и блок “Итоговый смысл”."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1664,
        832
      ],
      "id": "d9e61089-93b7-4a14-89a2-97c631edd392",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1664,
        1024
      ],
      "id": "0b902736-5c25-42cb-affe-7c8163736214",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "thYItVt2bWrUlmgh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build final Telegram message (single message <= 3500 chars)\nconst MAX = 3500;\n\n// Get agent output\nconst out = ($json.output ?? $json.text ?? '').toString().trim();\nif (!out) throw new Error('Empty agent output');\n\n// Unicode-safe helpers\nconst uLen = (s) => Array.from(s).length;\nconst uSlice = (s, start, end) => Array.from(s).slice(start, end).join('');\n\n// Trim to MAX with a soft ending\nlet text = out.replace(/\\r\\n/g, '\\n').trim();\n\nif (uLen(text) > MAX) {\n  // Leave room for suffix\n  const suffix = '\\n\\n…(сокращено из‑за лимита Telegram)';\n  const room = MAX - uLen(suffix);\n  text = uSlice(text, 0, Math.max(0, room)).trimEnd() + suffix;\n}\n\nconst chatId = $json.chatId;\n\nreturn [{\n  json: {\n    ...$json,\n    chatId,\n    text,\n  }\n}];"
      },
      "id": "3c4b1d29-49d0-44a3-9b22-bc852d0ff355",
      "name": "Finalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        832
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "c5c4e607-0c8c-4bf9-9c97-43f2f1f1ad2d",
      "name": "Send Final Interpretation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2272,
        832
      ],
      "webhookId": "8a95f392-0c34-40e8-b5d7-2e65c4dbd462",
      "credentials": {
        "telegramApi": {
          "id": "3USnxVmFx9dNCtyF",
          "name": "Dream Int TELEGRAM"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Prep Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Input": {
      "main": [
        [
          {
            "node": "Is Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Command?": {
      "main": [
        [
          {
            "node": "Reply to Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat Action (typing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat Action (typing)": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Finalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Text": {
      "main": [
        [
          {
            "node": "Send Final Interpretation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ed55f7bc-f19c-4feb-a18e-2512b8054bb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a21cbdb060244385569a94f6b324011817d3860ac9358f1e3bc8a8c7a228f29"
  },
  "id": "YjwgBGXxlkMZOI3P",
  "tags": []
}